<ActionBarExtension
        *ngIf="selectedTabIndex===1">
    <ActionItem
            #actionItemFilter
            ios.position="right"
            android.position="actionBar"
            text="Filter"
            (tap)="onFilter($event)"
            icon="res://ic_filter_list_white_24dp">
    </ActionItem>
</ActionBarExtension>

<!--
The TabView component provides a simple way to navigate between different views by
tapping on some of the tabs or by swiping between the views.
Learn more about the TabView component in this documentation article:
http://docs.nativescript.org/angular/code-samples/ui/tab-view
-->
<GridLayout rows="*" toggleNavButton height="100%" width="100%">
    <TabView row="1" (selectedIndexChanged)="onSelectedIndexChanged($event)" class="tab-view action-bar"
             [(ngModel)]="selectedTabIndex">

        To add a new TabView item, add a new layout component with a tabItem Angular directive.
        Assign the tabItem directive an object that declares the tab item button's title and icon source.
        -->
        <StackLayout class="tab-view-item"
                     *tabItem="{title: 'Mein Arbeitszeitkonto', iconSource: getIconSource('worktime-home')}"
                     color="#2f4f4f">
            <!--
            You can declare the layout and components of each view inside the TabView items directly.
            In this case the view contents and back end logic are separated in nested components.
            You can find these components in their respective folders /worktime-home, /browse etc.
            -->
            <worktime-home></worktime-home>
        </StackLayout>
        <StackLayout class="tab-view-item"
                     *tabItem="{title: 'Meine Arbeitszeiten', iconSource: getIconSource('worktime-list')}"
                     color="#2f4f4f">
            <worktime-list></worktime-list>
        </StackLayout>
    </TabView>
    <FAB row="1" icon="res://ic_add_white_24dp" rippleColor="#292929" class="fab-button" [nsRouterLink]="['/worktime-new']"></FAB>
</GridLayout>