<ScrollView toggleNavButton>
    <StackLayout orientation="vertical">
        <StackLayout class="primary-dark">
            <StackLayout class="m-t-30 m-b-30"
                         verticalAlignment="center"
                         horizontalAlignment="center">
                <Image class="profile-image m-t-32" [src]="(user$ | async)?.profileImageURL"
                       stretch="aspectFill"></Image>
                <Label *ngIf="(user$ | async)?.name" [text]="(user$ | async)?.name"
                       class="h3 m-t-16" color="White" horizontalAlignment="center"></Label>
                <Label *ngIf="(user$ | async)?.email" [text]="(user$ | async)?.email"
                       class="m-b-32 text-muted h4" color="White" horizontalAlignment="center"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout verticalAlignment="center">
            <Label text="hier kann man später das user objekt von der wotima app bearbeiten" textWrap="true"
                   class="text-center"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>
