<ActionBar class="action-bar">
    <GridLayout class="m-r-16" columns="*,auto" rows="*">
        <Label
                #lblActionBar
                class="action-bar-title"
                text="Mein Arbeitskonto"
                row="0"
                col="0"
                colSpan="2"
                style.textAlignment="center"></Label>
        <Ripple row="0" col="1" (tap)="onSignOut()">
            <Label class="mdi p-8" [text]="'mdi-lock-open' | fonticon"
                   android.position="actionBar" ios.position="right"></Label>
        </Ripple>
    </GridLayout>
</ActionBar>

<StackLayout class="page" orientation="vertical">
    <Button class="btn btn-outline" (tap)="onGetCurrentUser()" text="Get Currentuser"></Button>
    <Button class="btn btn-outline" (tap)="onGetWorkTimes()" text="Get Worktimes"></Button>
    <Button class="btn btn-outline" (tap)="onLogout()" text="Logout"></Button>
</StackLayout>