.no-margin {
    margin: 0
}

.no-padding {
    padding: 0
}

.full-btn {
    margin: -4 -4 -6
}

.font-weight-bold {
    font-weight: bold
}

.m-b-8 {
    margin-bottom: 8
}

.m-b-12 {
    margin-bottom: 12
}

.m-b-16 {
    margin-bottom: 16
}
