// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Customize any of the theme’s variables here, for instance $btn-color: red;

// ActionBar
$ab-background: #292929;
$ab-color: #ffffff;

// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
.fab-button {
  height: 70;
  width: 70; /// this is required on iOS - Android does not require width so you might need to adjust styles
  margin: 15;
  background-color: #292929;
  horizontal-align: right;
  vertical-align: bottom;
}

.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
  font-size: 24;
}

.mdi-actionitem {
  font-family: "Material Icons", "MaterialIcons-Regular";
  font-size: 24;
  padding: 8;
}

.mdi-actionitem.mdi-menu {
  padding-left: 0;
  margin-right: 0;
}

.root_element {
  height: 100%
}

.font-weight-bold {
  font-weight: bold;
}

.title {
  font-size: 18;
  font-weight: 600;
  color: #292929;
}

.primary-dark {
  background-color: #292929;
  color: #ffffff;
}

.btn-primary-dark {
  height: 60;
  min-height: 60;
  color: #ffffff;
  background-color: #292929
}
