<ActionBar class="action-bar">
    <ActionItem
                #actionItemFilter
                ios.position="right"
                android.position="actionBar"
                text="Filter"
                (tap)="onFilter()"
                icon="res://ic_filter_list_white_24dp">
    </ActionItem>
</ActionBar>

<GridLayout toggleNavButton rows="auto, *" columns="*,*" class="page height_100 p-16">
    <Button row="0" col="0" class="btn btn-active btn-primary" text="Vorheriger Monat" (tap)="changeMonth(false)"></Button>
    <Button row="0" col="1" class="btn btn-active btn-primary" text="Nächster Monat" (tap)="changeMonth(true)"></Button>
    <ListView row="1" col="0" colSpan="2" [items]="worktimes$ | async" separatorColor="Transparent">
        <ng-template let-item="item">
            <CardView elevation="24" radius="24" class="page m-16">
                <!--<Ripple (tap)="onEditWorktime(item)">-->
                <Ripple [nsRouterLink]="['/worktime-detail', item.date]"
                        pageTransition="slideLeft">
                    <GridLayout rows="auto,auto" columns="*,auto" class="page p-16">
                        <Label row="0" col="0" class="h3 m-b-16 font-weight-bold"
                               [text]="item.workTimeStart | worktimeDate"></Label>
                        <Label row="1" col="0" class="h4"
                               [text]="item.workingMinutesNetto | worktimeOvertime"></Label>
                        <Label row="0" rowSpan="2" verticalAlignment="center" col="1" class="mdi p-8"
                               [text]="'mdi-keyboard-arrow-right' | fonticon"></Label>
                    </GridLayout>
                </Ripple>
            </CardView>
        </ng-template>
    </ListView>
    <StackLayout *ngIf="empty_list" row="1" col="0" colSpan="2" horizontalAlignment="center"
                 verticalAlignment="center" class="m-32" width="288">
        <Image width="96" height="96" src="res://empty_worktimes_list" stretch="none"></Image>
        <Label textWrap="true" text="Für den ausgewählten Zeitraum liegen keine Daten vor"
               class="h4 text-center m-t-24"></Label>
    </StackLayout>
    <ActivityIndicator row="0" rowSpan="2" col="0" colSpan="2" [busy]="isLoading" width="48" height="48"
                       horizontalAlignment="center" verticalAlignment="center"
                       class="activity-indicator"></ActivityIndicator>
</GridLayout>