<ScrollView toggleNavButton class="page">
    <StackLayout orientation="vertical">
        <CardView elevation="24" radius="24" class="m-16">
            <StackLayout orientation="vertical">
                <StackLayout orientation="vertical" class="p-16">
                    <Ripple class="m-b-24" (tap)="onEditDate()">
                        <GridLayout rows="auto" columns="auto,*, auto">
                            <Label row="0" col="0"
                                   verticalAlignment="center"
                                   class="h3 font-weight-bold"
                                   [text]="worktimeDate | worktimeDate"></Label>
                            <Label row="0" col="2"
                                   verticalAlignment="center"
                                   class="mdi p-8" [text]="'mdi-keyboard-arrow-right' | fonticon"></Label>
                        </GridLayout>
                    </Ripple>
                    <Label class="m-b-8 h4" text="Arbeitsbeginn"></Label>
                    <Ripple class="m-b-16" (tap)="onEditStarttime()">
                        <GridLayout rows="auto" columns="auto,*, auto">
                            <Label row="0" col="0" class="h4"
                                   verticalAlignment="center"
                                   [text]="worktimeStart | worktime"></Label>
                            <Label row="0" col="2"
                                   verticalAlignment="center"
                                   class="mdi p-8" [text]="'mdi-keyboard-arrow-right' | fonticon"></Label>
                        </GridLayout>
                    </Ripple>
                    <Label class="m-b-8 h4" text="Arbeitsende"></Label>
                    <Ripple class="m-b-16" (tap)="onEditEndtime()">
                        <GridLayout rows="auto" columns="auto,*, auto">
                            <Label row="0" col="0" class="h4"
                                   verticalAlignment="center"
                                   [text]="worktimeEnd | worktime"></Label>
                            <Label row="0" col="2"
                                   verticalAlignment="center"
                                   class="mdi p-8" [text]="'mdi-keyboard-arrow-right' | fonticon"></Label>
                        </GridLayout>
                    </Ripple>
                    <StackLayout class="m-b-16">
                        <TextInputLayout hint="Pause">
                            <TextField #pauseTextfield [ngModel]="workingMinutesPause"
                                       (returnPress)="onPauseChange(pauseTextfield.text)"
                                       keyboardType="number" returnKeyType="done"></TextField>
                        </TextInputLayout>
                    </StackLayout>
                    <Label class="h4 m-b-8"
                           [text]="workingMinutesNetto | worktimeOvertime"></Label>
                </StackLayout>
                <Button class="btn-primary-dark full-btn" (tap)="onSaveChanges()"
                        text="Speichern"></Button>
            </StackLayout>
        </CardView>
    </StackLayout>
</ScrollView>